﻿@using Microsoft.AspNetCore.Identity;
@using PhotoSharp.Models;
@inject SignInManager<User> signInManager;
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - PhotoSharp</title>

	<link
		href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900"
		rel="stylesheet">

	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Spartan:wght@200&display=swap"
		rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=Vidaloka" rel="stylesheet">

	<link rel="stylesheet" href="~/css/open-iconic-bootstrap.min.css">
	<link rel="stylesheet" href="~/css/animate.css">

	<link rel="stylesheet" href="~/css/owl.carousel.min.css">
	<link rel="stylesheet" href="~/css/owl.theme.default.min.css">
	<link rel="stylesheet" href="~/css/magnific-popup.css">

	<link rel="stylesheet" href="~/css/aos.css">

	<link rel="stylesheet" href="~/css/ionicons.min.css">

	<link rel="stylesheet" href="~/css/bootstrap-datepicker.css">
	<link rel="stylesheet" href="~/css/jquery.timepicker.css">


	<link rel="stylesheet" href="~/css/flaticon.css">
	<link rel="stylesheet" href="~/css/icomoon.css">
	<link rel="stylesheet" href="~/css/style.css">

	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
		crossorigin="anonymous" referrerpolicy="no-referrer" />
	<script src="https://cdn.ckeditor.com/ckeditor5/28.0.0/classic/ckeditor.js"></script>


	<strong>
		<script src="//tinymce.cachefly.net/.0/tinymce.min.js"></script>
	</strong>
	<script>
		tinymce.init({
			selector: "#mytextarea"

		});

	</script>


</head>

<body>
@* ********************** NAVIGATION POPUP ********************* *@
	<div class="page">
		<nav id="colorlib-main-nav" role="navigation">

			<a href="#"
				class="js-colorlib-nav-toggle colorlib-nav-toggle active"><i></i></a>
			<div class="js-fullheight colorlib-table">
				<div><img class="img" src="~/images/nav_photo.jpg" /></div>
				<div class="colorlib-table-cell js-fullheight">
					<div class="row no-gutters">
						<div class="col-md-12 text-center">
							<h1 class="mb-4"><a href="~/Index" class="logo">Photo
									Sharp<br><span>For
										Professionals</span></a></h1>
							<ul>
								<li class="active"><a href="~/Index"><span>Home</span></a>
								</li>
								<li><a href="~/About"><span>About</span></a></li>
								<li><a href="~/AllProducts"><span>All Products</span></a>
								</li>
								<li>
									<div class="btn-group dropright">
										<button type="button"
											class="btn text-white bg-transparent dropdown-toggle"
											data-toggle="dropdown" aria-haspopup="true"
											aria-expanded="false">
											<span
												style="font-size: 1.3rem;font-family: 'Spartan', sans-serif;font-weight: bolder;">Categories</span>

										</button>
										<div class="dropdown-menu bg-transparent ml-5">
											<a href="~/categories/1">Camera</a>
											<a href="~/categories/2">Shoulder</a>
											<a href="~/categories/3">Tripod</a>
											<a href="~/categories/4">Light</a>

										</div>
									</div>
								</li>
								<li><a href="~/ContactUs"><span>Contact Us</span></a></li>
								<li><a href="~/Search"><span>Search Products</span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</nav>
		<div id="colorlib-page">
			<header>
				<div class="container">
					<div class="colorlib-navbar-brand"><a href="#"
							class="js-colorlib-nav-toggle colorlib-nav-toggle"><i></i></a>
					</div>
				</div>
				<div class="container">

					@if (signInManager.IsSignedIn(User))
					{
						<div class="colorlib-navbar-brand float-right  mr-2 ml-2"><a
							href="/Logout" style=" color:white">
								[Log Out] </a>
						</div>
						@if (User.Identity.Name == "admin@admin.com")
						{
							<div class="colorlib-navbar-brand float-right"><a href="/AdminIndex"
							style=" color:white">

									<b class="mr-2">Hello</b>@User.Identity.Name </a>
							</div>
						}
						else
						{
							<div class="colorlib-navbar-brand float-right"><a href="/useraccount"
							style=" color:white">
									<b class="mr-2">Hello</b>@User.Identity.Name </a>
							</div>
						}
					}
					else
					{
						<div class="colorlib-navbar-brand float-right"><a href="/Login"
							style=" color:white">
								Login </a>
						</div>
						<div class="colorlib-navbar-brand float-right ml-3 mr-3"><a
							href="/Register" style=" color:white">Register</a>
						</div>
					}
				</div>
			</header>

			<main role="main" class="pb-3">
				@RenderBody()
			</main>
@* ********************* FOOTER *********************** *@
			<footer class="ftco-footer ftco-section img">
				<div class="overlay"></div>
				<div class="container">
					<div class="row mb-2">
						<div class="col-md-3">
						</div>
						<div class="col-md-4">
							<div class="ftco-footer-widget mb-4">
								<h2 style="font-family: 'Spartan', sans-serif;"
									class="ftco-heading-2">Recent Comments</h2>
								<div class="block-21 mb-4 d-flex">
									<div class="text">
										<h3 class="heading" style="font-family: 'Spartan', sans-serif;">
												@foreach (var item in Model.CommentList2)
												{
													<span><i style="color: white; font-size: 25px !important"
														class="fas fa-user-edit mr-4 mb-2"></i></span>
													<div> @item.CommentBody</div>
													<br>
													<br>
												}
											</h3>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="ftco-footer-widget mb-4">
								<h2 style="font-family: 'Spartan', sans-serif;"
									class="ftco-heading-2">Have a Questions?</h2>
								<div class="block-23 mb-3">
									<ul>
										<li><span
												class="icon icon-map-marker"></span><span
												class="text">21 275 Rue Lakeshore Road,
												Montreal, Canada</span></li>
										<li><a href="#"><span
													class="icon icon-phone"></span><span
													class="text">(514) 457-5036</span></a>
										</li>
										<li><a href="ContactUs"><span
													class="icon icon-envelope"></span><span
													class="text">info@mail.com</span></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row ftco-footer-widget mb-4">
					<div class="m-auto">
						<ul
							class="ftco-footer-social list-unstyled float-md-left float-lft">
							<li class="ftco-animate"><a
									href="https://twitter.com/home?lang=en"><span
										class="icon-twitter"></span></a></li>
							<li class="ftco-animate"><a
									href="https://www.facebook.com/"><span
										class="icon-facebook"></span></a></li>
							<li class="ftco-animate"><a
									href="https://www.instagram.com/?hl=en"><span
										class="icon-instagram"></span></a></li>
						</ul>
					</div>
				</div>
			</footer>

@* ********************* LOADER ICON ************************ *@
			<div id="ftco-loader" class="show fullscreen"><svg class="circular"
					width="48px" height="48px">
					<circle class="path-bg" cx="24" cy="24" r="22" fill="none"
						stroke-width="4" stroke="#eeeeee" />
					<circle class="path" cx="24" cy="24" r="22" fill="none"
						stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" />
				</svg></div>

		</div>
		@* javascript *@
		<script src="~/js/jquery.min.js"></script>
		<script src="~/js/jquery-migrate-3.0.1.min.js"></script>
		<script src="~/js/popper.min.js"></script>
		<script src="~/js/bootstrap.min.js"></script>
		<script src="~/js/jquery.easing.1.3.js"></script>
		<script src="~/js/jquery.waypoints.min.js"></script>
		<script src="~/js/jquery.stellar.min.js"></script>
		<script src="~/js/owl.carousel.min.js"></script>
		<script src="~/js/jquery.magnific-popup.min.js"></script>
		<script src="~/js/aos.js"></script>
		<script src="~/js/jquery.animateNumber.min.js"></script>
		<script src="~/js/scrollax.min.js"></script>
		<script src="~/js/jquery.mb.YTPlayer.min.js"></script>
		<script src="~/js/bootstrap-datepicker.js"></script>
		<script src="~/js/jquery.timepicker.min.js"></script>
		<script src="~/js/main.js"></script>
		@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
