﻿@page 
@model PhotoSharp.Pages.AboutModel
@{
	ViewData["Title"] = "About Us";
}
 <div class="page">
	<div id="colorlib-page">
		<section class="hero-wrap" style="background-image: url(images/bg_1.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters text align-items-end justify-content-center" data-scrollax-parent="true">
					<div class="col-md-8 ftco-animate text-center">
						<h1 style="font-family: 'Spartan', sans-serif" class="mb-5 bread">About Us</h1>
					</div>
				</div>
			</div>
		</section>
		<section style="font-family: 'Spartan', sans-serif" class="ftco-section ftco-no-pt ftco-no-pb ftco-about-section">
			<div class="container-fluid px-0">
				<div class="row d-md-flex text-wrapper">
					<div class="one-half img" style="background-image: url('images/oldShop.jpg');"></div>
					<div class="one-half half-text d-flex justify-content-end align-items-center">
						<div class="text-inner pl-md-5">
							<h3 style="font-family: 'Spartan', sans-serif" class="mb-5">With you, from past to now</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
							<ul class="my-4">
								<li><span class="ion-ios-checkmark-circle mr-2"></span> Lorem ipsum dolor sit amet, consectetur adipiscing
								</li>
								<li><span class="ion-ios-checkmark-circle mr-2"></span> Lorem ipsum dolor sit amet, consectetur adipiscing</li>
								<li><span class="ion-ios-checkmark-circle mr-2"></span> Lorem ipsum dolor sit amet, consectetur adipiscing</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section testimony-section img" style="background-image: url(images/bg_2.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row d-md-flex justify-content-center">
					<div class="col-md-8 ftco-animate">
						<div class="carousel-testimony owl-carousel">
							<div class="item">
								<div class="testimony-wrap text-center">
									<div class="user-img mb-5" style="background-image: url(images/person_1.jpg)">
										<span class="quote d-flex align-items-center justify-content-center">
											<i class="icon-quote-left"></i>
										</span>
									</div>
									<div class="text">
										<p class="mb-5">Far far away, behind the word mountains, far from the countries
											Vokalia and Consonantia, there live the blind texts. Separated they live in
											Bookmarksgrove right at the coast of the Semantics, a large language ocean.
										</p>
										<p class="name">Mike Lewis</p>
										<span class="position">Architect</span>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="testimony-wrap text-center">
									<div class="user-img mb-5" style="background-image: url(images/person_2.jpg)">
										<span class="quote d-flex align-items-center justify-content-center">
											<i class="icon-quote-left"></i>
										</span>
									</div>
									<div class="text">
										<p class="mb-5">Far far away, behind the word mountains, far from the countries
											Vokalia and Consonantia, there live the blind texts. Separated they live in
											Bookmarksgrove right at the coast of the Semantics, a large language ocean.
										</p>
										<p class="name">Dennis Green</p>
										<span class="position">Architect</span>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="testimony-wrap text-center">
									<div class="user-img mb-5" style="background-image: url(images/person_3.jpg)">
										<span class="quote d-flex align-items-center justify-content-center">
											<i class="icon-quote-left"></i>
										</span>
									</div>
									<div class="text">
										<p class="mb-5">Far far away, behind the word mountains, far from the countries
											Vokalia and Consonantia, there live the blind texts. Separated they live in
											Bookmarksgrove right at the coast of the Semantics, a large language ocean.
										</p>
										<p class="name">Dennis Green</p>
										<span class="position">Architect</span>
									</div>
								</div>
							</div>
							<div class="item">
								<div class="testimony-wrap text-center">
									<div class="user-img mb-5" style="background-image: url(images/person_3.jpg)">
										<span class="quote d-flex align-items-center justify-content-center">
											<i class="icon-quote-left"></i>
										</span>
									</div>
									<div class="text">
										<p class="mb-5">Far far away, behind the word mountains, far from the countries
											Vokalia and Consonantia, there live the blind texts. Separated they live in
											Bookmarksgrove right at the coast of the Semantics, a large language ocean.
										</p>
										<p class="name">Dennis Green</p>
										<span class="position">Customer</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

@* ************************ CONTACT US FORM ******************** *@

		<section id="contactSection" class="ftco-appointment ftco-section">
			<div class="overlay"></div>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-md-8 mb-5 heading-section text-center ftco-animate">
						<h2 style="font-family: 'Spartan', sans-serif; font-size: 2rem" class="mb-4">Contact Us</h2>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-12 mb-3">
								<p><span>Address:</span> 21 275 Rue Lakeshore Road, Montreal, Canada</p>
							</div>
							<div class="col-md-12 mb-3">
								<p><span>Phone:</span> <a href="tel://5144575036">(514) 457-5036</a></p>
							</div>
							<div class="col-md-12 mb-3">
								<p><span>Email:</span> <a href="mailto:info@yoursite.com">info@mail.com</a></p>
							</div>
							<div class="col-md-12 mb-3">
								<p><span>Website:</span> <a href="ipd24.ca">ipd24.ca</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-8 appointment ftco-animate">
						<form method="post" class="appointment-form">  
							<div class="row">
								<div class="col-md-6">
									<div class="d-md-flex">
										<div class="form-group">
											<input asp-for="FName" style="font-family: 'Spartan', sans-serif;" 
												class="form-control" placeholder="First Name">
											<span asp-validation-for="FName"></span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="d-me-flex">
										<div class="form-group">
											<input asp-for="LName" style="font-family: 'Spartan', sans-serif;" 
												class="form-control" placeholder="Last Name">
											<span asp-validation-for="LName"></span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="d-me-flex">
										<div class="form-group">
											<input asp-for="CEmail" style="font-family: 'Spartan', sans-serif;" 
												class="form-control" placeholder="Email Address">
											<span asp-validation-for="CEmail"></span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="d-me-flex">
										<div class="form-group">
											<input style="font-family: 'Spartan', sans-serif;" type="text"
												class="form-control" placeholder="Your City">
										</div>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
										<textarea rows="10" asp-for="Message" style="font-family: 'Spartan', sans-serif;" class="form-control form-control-sm" placeholder="Message"></textarea>               
										<span asp-validation-for="Message"></span>
									</div>
								</div>
								<div class="col-md-12">
									<div class="form-group">
											<button style="width: 150px;" class="btn btn-danger order-button">submit</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</section>
	</div>  
</div> 
