﻿@page
@model Photosharp.Pages.AccessDeniedModel
@{
    ViewData["Title"] = "AccessDenied Page";
    Layout = null;
}
<head runat="server">
    <meta http-equiv="Refresh" content="5;url=Login" />
</head>

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-3"></div>
        <div class="col-6 mt-5 mb-5">

            <h1  style="font-family: 'Spartan', sans-serif; ">Access denied </h1>
            @{
                <p>
                    <a class="nav-link" asp-area="" asp-page="/Login">Click here to log
                        in as a authorizrd user</a>
                </p>
            }
        </div>
        <div class="col-3"></div>
    </div>
</div>