﻿@page
@using (Html.BeginForm("Index", "Home", FormMethod.Post))

    @model Photosharp.Pages.AddProductModel
@{
        ViewData["Title"] = "Add Product";
}
<div class="container ">
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5">
        <div class="col-3"></div>
        <div class="col-6 registermt">
            <form method="POST" enctype="multipart/form-data">
                <div class="form-row">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group col-md-12">
                        <label asp-for="ProductName"
                            class="col-sm-2 col-form-label">ProductName</label>
                        <div class="col-sm-10">
                            <input asp-for="ProductName" class="form-control" />
                            <span asp-validation-for="ProductName"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label asp-for="AvailableQuantity"
                            class="col-sm-2 col-form-label">Quantity</label>
                        <div class="col-sm-10">
                            <input asp-for="AvailableQuantity"  type="number" min="0" class="form-control" />
                            <span asp-validation-for="AvailableQuantity"></span>
                        </div>
                    </div>
                     <div class="form-group col-md-12">
                        <label asp-for="Price"
                            class="col-sm-2 col-form-label">Price</label>
                        <div class="col-sm-10">
                           <input asp-for="Price" type='number' step='0.5' value='1.00' class="form-control">                          
                            <span asp-validation-for="Price"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label asp-for="Upload"
                            class="col-sm-2 col-form-label">Image</label>
                        <div class="col-sm-10">
                            <input asp-for="Upload" class="form-control" />
                            <span asp-validation-for="Upload"></span>
                        </div>
                    </div>
                     <div class="form-group col-md-12">
                        <label asp-for="UploadTwo"
                            class="col-sm-2 col-form-label">Image2</label>
                        <div class="col-sm-10">
                            <input asp-for="UploadTwo" class="form-control" />
                            <span asp-validation-for="UploadTwo"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label asp-for="UploadThree"
                            class="col-sm-2 col-form-label">Image3</label>
                        <div class="col-sm-10">
                            <input asp-for="UploadThree" class="form-control" />
                            <span asp-validation-for="UploadThree"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                         <label asp-for="ProductDescription"
                            class="col-sm-2 col-form-label">Category</label>
                        <div class="col-sm-10"> <select name="CategoryFK">
                            <option value="">Select a Category</option>
                            <option value=1>Camera</option>
                            <option value=2>Shoulder</option>
                            <option value=3>Tripod</option>
                            <option value=4>Light</option>
                        </select>
                        </div>
                    </div>
                    <div class="form-group col-md-12">
                        <label asp-for="ProductDescription"
                            class="col-sm-2 col-form-label">ProductDescription</label>
                        <div class="col-sm-10">

                            <textarea asp-for="ProductDescription" class="form-control"
                                rows="5"></textarea>
                            <span asp-validation-for="ProductDescription"></span>
                        </div>
                    </div>

                    <button type="submit" value="Submit" class=" ml-5 btn btn-primary">Add New
                        Product</button>
                        <a class="nav-link" asp-area="" asp-page="/AdminIndex">Back to Admin Page </a>
            </form>
        </div>
        <div class="col-3 "></div>
    </div>
</div>