﻿@page
@model Photosharp.Pages.AddProductSuccessModel
@{
  ViewData["Title"] = " Product is Added Successfully";
}
<head runat="server">
    <meta http-equiv="Refresh" content="2;url=AddProduct" />
</head>
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-3"></div>
        <div class="col-6 mt-5 mb-5">
            <h3 style="font-family: 'Spartan', sans-serif;">@ViewData["Title"]</h3>        
        </div>
        <div class="col-3"></div>
    </div>
</div>