﻿@page
@model Photosharp.Pages.AdminIndexModel

@{
    ViewData["Title"] = "Admin Page";
}


<div class="container">
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5"></div>
    	<h3 style="font-family: 'Spartan', sans-serif;" class="heading text-center">@ViewData["Title"]</h3>  
    <div class="row mt-5 mb-5">
        <div class="col-12 loginmt">
            @* --------------Bootstrap Navs------------------- *@
<ul class="nav nav-tabs justify-content-center" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Products</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Orders</a>
  </li>
</ul>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
      @* -----------Add product -------------- *@
   <div class="container mt-5 mb-5">
    <div class="text-center mt-5"> 
        <h3  style="font-family: 'Spartan', sans-serif;" > Add Product</h3> 
        <a href="AddProduct"> <i class="far fa-plus-square"></i></a>
    </div>
</div>
       @* -----------Add product -------------- *@

       @* -----------All Products -------------- *@
                            <table class="table table-striped text-white">
                                <thead>
                                    <tr>
                                         <th scope="col">ProductId</th>
                                        <th scope="col">ProductName</th>
                                        <th scope="col">Category</th>
                                        <th scope="col">Product Description</th>
                                         <th scope="col">Delete</th>
                                     
                                    </tr>
                                </thead>
                                <tbody>
                                  <form method="post">
                                    @foreach (var prod in Model.ProductList)
                                    {
                                        <tr>
                                            <th scope="row"> @prod.Id</th>
                                            <td>@prod.ProductName</td>
                                            <td>@prod.CategoryFK</td>
                                            <td><p class="font-weight-light" style="font-size: 15px;">@prod.ProductDescription</p></td>
                                              <td><a   class="btn btn-outline-danger"  asp-page="./AdminDelete" asp-route-id="@prod.Id">Delete</a>
                                          
                                              </td>

                                        </tr>
                                    }
                                    </form>
                                </tbody>
                            </table></div>
  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
      
        @* -----------All Products -------------- *@

       @* -----------Manage User -------------- *@

       <table class="table table-striped text-white">
                                <thead>
                                    <tr>
                                        <th scope="col" >FullName</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Address</th>
                                        <th scope="col">P-Code</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var usr in Model.UserList)
                                    {
                                        <tr>
                                            <td>@usr.FullName</td>
                                            <td><p class="font-weight-light" style="font-size: 16px;">@usr.Email</p></td>
                                            <td><p class="font-weight-light" style="font-size: 16px;">@usr.Address</p></td>
                                            <td><p class="font-weight-light" style="font-size: 16px;">@usr.PostalCode</p></td>
                                        </tr>
                                    }
                                </tbody>
                            </table></div>
  <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
         @* -----------Manage User -------------- *@
      
       @* -----------All Order -------------- *@

                     
       <table class="table table-striped text-white">
                                <thead>
                                    <tr>                                       
                                        <th scope="col">Order Id</th>
                                        <th scope="col">Customer Id</th>
                                        <th scope="col">Product Id</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">OrderDate</th>
                                    </tr>
                                </thead>
                                <tbody>                                   
                                          @foreach (var ord in Model.OrderList)
                                    {
                                      <tr>
                                        
                                        <td>@ord.OrderId</td>
                                        <td><p class="font-weight-light" style="font-size: 15px;">@ord.UserFK</p></td>
                                       <td>@ord.ProductFK</td>
                                        <td>@ord.Quantity</td>
                                        <td>@ord.OrderDate</td>
                                       </tr>
                                    }
                                </tbody>
                            </table></div>
</div>
        @* -----------All Order -------------- *@
                                              
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5 mb-5"></div>
<div class="row mt-5 mb-5"></div>
</div>
</div>