﻿@page "{id:int}"
@model Photosharp.Pages.AdminDeleteModel

@{
    ViewData["Title"] = "Delete Product";
}
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-3"></div>
        <div class="col-6 mt-5 mb-5">
            <h2 style="font-family: 'Spartan', sans-serif;">@ViewData["Title"]</h2>
            <h3 style="font-family: 'Spartan', sans-serif;">Are you sure you want to
                delete this Product?</h3>
            <div>
                <form method="post">
                    <input type="hidden" asp-for="Product.Id" />
                    <input type="submit" value="Delete" class="btn btn-danger mr-5" />
                    <a asp-page="./AdminIndex">Back to Product List</a>
                </form>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>
