﻿@page
@model PhotoSharp.Pages.AllProductsModel
@{
	ViewData["Title"] = "All Products";
}
<div class="page">
	<div id="colorlib-page">
		<section class="hero-wrap" style="background-image: url(images/bg_1.jpg);">
			<div class="overlay"></div>
			<div class="container">
				<div class="row no-gutters text align-items-end justify-content-center" data-scrollax-parent="true">
					<div class="col-md-8 ftco-animate text-center">
						<h1 class="mb-5 bread" style="font-family: 'Spartan', sans-serif;" >Our Products</h1>
					</div>
				</div>
			</div>
		</section>
		<section class="ftco-section">
			<div class="container">
				<div class="row d-flex">
					@foreach (var product in Model.Products)
					{
					<div class="col-md-4 d-flex ftco-animate">
						<div class="blog-entry bg-dark align-self-stretch">
							<a asp-page="/ProductDetail" asp-route-id="@product.Id" class="block-20"
								style="background-image: url('@product.ProductImage1')">
							</a>
							<div class="text p-4 d-block">
								<h3 class="heading mt-3" style="font-family:'Spartan', sans-serif;"><a asp-page="/ProductDetail" asp-route-id="@product.Id"> @product.ProductName </a></h3>
								<p> @product.ProductDescription </p>
								<p>@if(product.AvailableQuantity < 1){
									<button title="Order @product.ProductName" class="btn btn-primary" style="background-color: #708090;" disabled> Out of stock </button>
								 }else{
									 	<a asp-page="/order" asp-route-id="@product.Id" title="Order @product.ProductName" class="btn btn-primary" > Order Now </a>
								 }
								<a asp-page="/ProductDetail" asp-route-id="@product.Id" class="btn btn-primary"> Read more</a></p> 
							</div>
						</div>
					</div>
					}
				</div>
			</div>
		</section>
	</div>
</div>