﻿@page
@model PhotoSharp.Pages.CommentSuccessModel
@{
 ViewData["Title"] = "Comment Success";
}
<head runat="server">
    <meta http-equiv="Refresh" content="2;url=AllProducts" />
</head>
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-3"></div>
        <div class="col-6 mt-5 mb-5">
            @{
                <p>Comment is added successfully
                    <a class="nav-link" asp-area="" asp-page="/AllProducts">Click here to continue.</a>
                </p>
            }
        </div>
        <div class="col-3"></div>
    </div>
</div>
