﻿@page
@model PhotoSharp.Pages.ContactUsModel
@{
	ViewData["Title"] = "Contact Us";
}
<div class="page">
	<section class="hero-wrap" style="background-image: url(images/bg_1.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters text align-items-end justify-content-center" data-scrollax-parent="true">
				<div class="col-md-8 ftco-animate text-center">
					<h1 style="font-family: 'Spartan', sans-serif" class="mb-5 bread">Contact Us</h1>
				</div>
			</div>
		</div>
</div>
</section>

<section class="ftco-section contact-section">
	<div class="container mt-5">
		<div class="row block-9">
			<div class="col-md-4 order-last contact-info ftco-animate">
				<div class="row">
					<div class="col-md-12 mb-4">
						<h2 style="font-family: 'Spartan', sans-serif;">Contact Information</h2>
					</div>
					<div class="col-md-12 mb-3">
						<p><span>Address:</span> 21 275 Rue Lakeshore Road, Montreal, Canada</p>
					</div>
					<div class="col-md-12 mb-3">
						<p><span>Phone:</span> <a href="tel://5144575036">(514) 457-5036</a></p>
					</div>
					<div class="col-md-12 mb-3">
						<p><span>Email:</span> <a href="mailto:info@yoursite.com">info@mail.com</a></p>
					</div>
					<div class="col-md-12 mb-3">
						<p><span>Website:</span> <a href="ipd24.ca">ipd24.ca</a></p>
					</div>
				</div>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-6 order-first ftco-animate">
				<form method="post">
					<div class="form-group">
						<input asp-for="YName" class="form-control" placeholder="Your Name">
						<span asp-validation-for="YName"></span>
					</div>
					<div class="form-group">
						<input type="Email" asp-for="YEmail" class="form-control" placeholder="Your Email">
						<span asp-validation-for="YEmail"></span>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Subject">
					</div>
					<div class="form-group">
						<textarea rows="7" cols="30" asp-for="Message" style="font-family: 'Spartan', sans-serif;"
							class="form-control form-control-sm" placeholder="Message"></textarea>
						<span asp-validation-for="Message"></span>
					</div>
					<div class="form-group">
						<input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
					</div>
				</form>
			</div>
		</div>
	</div>
</section>
</div>
