﻿@page
@model IndexModel
@{
	ViewData["Title"] = "Home page";
}

@* ******************** VIDEO HEADER ************************* *@

<section id="home" class="video-hero js-fullheight"
	style="height: 700px; background-image: url(images/bg_1.jpg);  background-size:cover; background-position: center center;background-attachment:fixed;">
	<div class="overlay"></div>
	<a class="player"
		data-property="{videoURL:'https://www.youtube.com/watch?v=UKvxwoSvL_s',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:true, startAt:0, opacity:1, quality:'default'}"></a>
	<div class="container">
		<div class="row js-fullheight justify-content-center d-flex align-items-center">
			<div class="col-md-8">
				<div class="text text-center">
					<h2>Photo Sharp</h2>
					<h3 style="font-family: 'Spartan', sans-serif;" class="mb-4">For
						Professionals</h3>
					<p><a href="AllProducts" class="btn btn-primary py-3 px-4">Shop
							Now</a></p>
				</div>
			</div>
		</div>
	</div>
</section>

@* ********************* CATEGORIES *************************** *@

<section class="ftco-no-pt ftco-featured-model">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6 col-lg-3">
				<div class="model-entry">
					<div class="model-img"
						style="background-image: url(images/Camera/Hasselblad.jpg);">
						<div class="name text-center mb-3">
							<h3><a style="color: black; font-family: 'Spartan', sans-serif;"
									href="categories/1">Camera</a></h3>
						</div>
						<div class="text text-center">
							<h3><a style="font-family: 'Spartan', sans-serif;"
									href="categories/1">Check Now</a>
							</h3>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-3">
				<div class="model-entry">
					<div class="model-img"
						style="background-image: url(images/Shoulder/Shape-GH5.jpg);">
						<div class="name text-center mb-3">
							<h3><a style="color: black; font-family: 'Spartan', sans-serif;"
									href="categories/2">Shoulder</a></h3>
						</div>
						<div class="text text-center">
							<h3><a style="font-family: 'Spartan', sans-serif;"
									href="categories/2">Check Now</h3>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-3">
				<div class="model-entry">
					<div class="model-img"
						style="background-image: url(images/Tripod/Manfrotto-526.jpg);">
						<div class="name text-center mb-3">
							<h3><a style="color: black; font-family: 'Spartan', sans-serif;"
									href="categories/3">Tripod</a></h3>
						</div>
						<div class="text text-center">
							<h3><a style="font-family: 'Spartan', sans-serif;"
									href="categories/3">Check Now</a>
							</h3>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 col-lg-3">
				<div class="model-entry">
					<div class="model-img"
						style="background-image: url(images/Light/FS-3000.jpg);">
						<div class="name text-center mb-3">
							<h3><a style="color: black; font-family: 'Spartan', sans-serif;"
									href="categories/4">Light</a></h3>
						</div>
						<div class="text text-center">
							<h3><a style="font-family: 'Spartan', sans-serif;"
									href="categories/4">Check Now</a></h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

@* ************************** LOOK FURTHER SECTION *********************** *@

<section class="ftco-section ftco-no-pt ftco-no-pb ftco-about-section">
	<div class="container-fluid px-0">
		<div class="row d-md-flex text-wrapper" style="padding-left: 100px;">
			<div class="one-half img ml-10 mb-5"
				style="background-image: url('images/image_middle.jpg');"></div>
			<div class="one-half half-text d-flex justify-content-end align-items-center">
				<div class="text-inner pl-md-5">
					<span class="subheading"></span>
					<h3 style="font-family: 'Spartan', sans-serif;" class="heading ml-5">Look
						Further</h3>
					<p class="ml-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
						eiusmod tempor incididunt
						ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis
						nostrud exercitation
						ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
						irure dolor in
						reprehenderit in voluptate velit esse cillum dolore eu fugiat
						nulla pariatur. Excepteur
						sint occaecat cupidatat non proident, sunt in culpa qui officia
						deserunt mollit anim id
						est laborum.</p>
				</div>
			</div>
		</div>
	</div>
</section>

@* ***************** ICON SECTION ****************** *@
<a href="/AllProducts">
	<section class="ftco-section bg-dark">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<div class="services ftco-animate text-center">
						<div
							class="icon d-flex justify-content-center align-items-center">
							<i class="far fa-gem"></i>
						</div>
						<div class="info mt-4">
							<h3 style="font-family: 'Spartan', sans-serif;" class="mb-4">
								Quality</h3>
							<p>Sed ut perspiciatis unde omnis iste natus error sit</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services ftco-animate text-center">
						<div
							class="icon d-flex justify-content-center align-items-center">
							<i class="fas fa-level-up-alt"></i>
						</div>
						<div class="info mt-4">
							<h3 style="font-family: 'Spartan', sans-serif;" class="mb-4">
								Up-to-date</h3>
							<p>Sed ut perspiciatis unde omnis iste natus error sit</p>
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="services ftco-animate text-center">
						<div
							class="icon d-flex justify-content-center align-items-center">
							<i class="fas fa-dollar-sign"></i>
						</div>
						<div class="info mt-4">
							<h3 style="font-family: 'Spartan', sans-serif;" class="mb-4">
								Good Price</h3>
							<p>Sed ut perspiciatis unde omnis iste natus error sit</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</a>

@* *************************** TESTEMONY SECTION *********************** *@

<section class="ftco-section testimony-section img"
	style="background-image: url(images/bg_2.jpg);">
	<div class="overlay"></div>
	<div class="container">
		<div class="row d-md-flex justify-content-center">
			<div class="col-md-8 ftco-animate">
				<div class="carousel-testimony owl-carousel">
					<div class="item">
						<div class="testimony-wrap text-center">
							<div class="user-img mb-5"
								style="background-image: url(images/person_1.jpg)">
								<span
									class="quote d-flex align-items-center justify-content-center">
									<i class="icon-quote-left"></i>
								</span>
							</div>
							<div class="text">
								<p class="mb-5">Neque porro quisquam est, qui dolorem
									ipsum quia dolor sit amet,
									consectetur, adipisci velit, sed quia non numquam eius
									modi tempora incidunt
									ut labore et dolore magnam aliquam quaerat voluptatem.
									Ut enim ad minima
									veniam, quis nostrum exercitationem ullam corporis
									suscipit.</p>
								<p style="font-family: 'Spartan', sans-serif;"
									class="name">Mike Lewis</p>
								<span style="font-family: 'Spartan', sans-serif;"
									class="position">Architect</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center">
							<div class="user-img mb-5"
								style="background-image: url(images/person_2.jpg)">
								<span
									class="quote d-flex align-items-center justify-content-center">
									<i class="icon-quote-left"></i>
								</span>
							</div>
							<div class="text">
								<p class="mb-5">Neque porro quisquam est, qui dolorem
									ipsum quia dolor sit amet,
									consectetur, adipisci velit, sed quia non numquam eius
									modi tempora incidunt
									ut labore et dolore magnam aliquam quaerat voluptatem.
									Ut enim ad minima
									veniam, quis nostrum exercitationem ullam corporis
									suscipit.</p>
								<p style="font-family: 'Spartan', sans-serif;"
									class="name">Dennis Green</p>
								<span style="font-family: 'Spartan', sans-serif;"
									class="position">Teacher</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center">
							<div class="user-img mb-5"
								style="background-image: url(images/person_3.jpg)">
								<span
									class="quote d-flex align-items-center justify-content-center">
									<i class="icon-quote-left"></i>
								</span>
							</div>
							<div class="text">
								<p class="mb-5">Neque porro quisquam est, qui dolorem
									ipsum quia dolor sit amet,
									consectetur, adipisci velit, sed quia non numquam eius
									modi tempora incidunt
									ut labore et dolore magnam aliquam quaerat voluptatem.
									Ut enim ad minima
									veniam, quis nostrum exercitationem ullam corporis
									suscipit.</p>
								<p style="font-family: 'Spartan', sans-serif;"
									class="name">Jack Lemon</p>
								<span style="font-family: 'Spartan', sans-serif;"
									class="position">Photographer</span>
							</div>
						</div>
					</div>
					<div class="item">
						<div class="testimony-wrap text-center">
							<div class="user-img mb-5"
								style="background-image: url(images/person_4.jpg)">
								<span
									class="quote d-flex align-items-center justify-content-center">
									<i class="icon-quote-left"></i>
								</span>
							</div>
							<div class="text">
								<p class="mb-5">Neque porro quisquam est, qui dolorem
									ipsum quia dolor sit amet,
									consectetur, adipisci velit, sed quia non numquam eius
									modi tempora incidunt
									ut labore et dolore magnam aliquam quaerat voluptatem.
									Ut enim ad minima
									veniam, quis nostrum exercitationem ullam corporis
									suscipit.</p>
								<p style="font-family: 'Spartan', sans-serif;"
									class="name">Marguerite Duras</p>
								<span style="font-family: 'Spartan', sans-serif;"
									class="position">Customer</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
</div>
