﻿@page
@model Photosharp.Pages.LoginSuccessModel
@{
    ViewData["Title"] = "Login Successful";
}

<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-3"></div>
        <div class="col-6 mt-5 mb-5">

            <h3 style="font-family: 'Spartan', sans-serif;">@ViewData["Title"]</h3>
            @{
                @if (User.Identity.Name == "admin@admin.com" && User.Identity.IsAuthenticated)
                {

                    <head runat="server">
                        <meta http-equiv="Refresh" content="2;url=AdminIndex" />
                    </head>
                }
                else
                {

                    <head runat="server">
                        <meta http-equiv="Refresh" content="2;url=Index" />
                    </head>
                }
            }
        </div>
        <div class="col-3"></div>
    </div>
</div>