﻿@page
@model PhotoSharp.Pages.LoginModel
@{
    ViewData["Title"] = "Login";
}
<div class="container">
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5">
        <div class="col-4"></div>
        <div class="col-6 loginmt">
            <form method="post">
                <div class="form-row">
                <div asp-validation-summary="All" class="text-danger"></div>
                <hr>
                    <div class="form-group col-md-12">
                        <label asp-for="Input.Email">Email</label>
                        <input asp-for="Input.Email" type="email" class="form-control"
                            id="inputEmail4">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <label asp-for="Input.Password">Password</label>
                        <input asp-for="Input.Password" type="password"
                            class="form-control" id="inputPassword4">
                        <span asp-validation-for="Input.Password"
                            class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary"> Login </button>
                </div>
                <div class="form-group">
                    <p>
                        <a asp-page="./Register">Register as a new user</a>
                    </p>
                </div>
            </form>


        </div>
        <div class="col-4 "></div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}