﻿@page "{id:int?}"
@model Photosharp.Pages.OrderModel
@{
    ViewData["Title"] = "Place Your Order";
}
<section id="contactSection" class="ftco-appointment ftco-section">
    <div class="overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
        </div>

        <div class="ftco-animate text-center mb-5">
            <h1 style="font-family: 'Spartan', sans-serif" class="mb-5 bread">Place Your Order</h1>
            <div style="font-size: 1.5rem;"><span style="color: #CF1F36;">Product Name:
                </span>@Model.Product.ProductName</div>
            <div><span style="color: #CF1F36;">Available Quantity: </span>@Model.Product.AvailableQuantity </div>
        </div>

        <div class="row">
            <div class="col-md-4 d-flex ftco-animate">
                <div class="blog-entry bg-dark align-self-stretch">
                    <a asp-page="/ProductDetail" asp-route-id="@Model.Product.Id" class="block-20"
                        style="background-image: url('/@Model.Product.ProductImage1')">
                    </a>
                    <div class="text p-4 d-block">
                        <p> @Model.Product.ProductDescription </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 appointment ftco-animate ml-5">
                <form method="post" class="appointment-form">
                    <div class="row">
                        <div class="form-group">
                            <div class="email">
                                <div class="form-group">
                                    <label asp-for="OrderEmail"></label>
                                    <input asp-for="OrderEmail" class="form-control form-control-sm"
                                        value="@User.Identity.Name" />
                                    <span asp-validation-for="OrderEmail"></span>
                                </div>
                            </div>
                            <div class="shipping">
                                <div class="form-group">
                                    <label asp-for="OrderShipping"></label>
                                    <textarea rows="4" asp-for="OrderShipping"
                                        class="form-control form-control-sm"></textarea>
                                    <span asp-validation-for="OrderShipping"></span>
                                </div>
                            </div>
                            <div class="quantity">
                                <div class="form-group row">
                                    <label asp-for="OrderQuantity" style="padding-left: 15px;"></label>
                                    <input asp-for="OrderQuantity" style="margin: 0 15px; max-width: 100px;" />
                                    x
                                    <span style="display: inline-block; margin: 0 10px;"
                                        id="orderPrice">@Model.Product.Price.ToString("f2")</span>
                                    =
                                    <span style="display: inline-block; margin: 0 10px;"
                                        id="orderTotal">@Model.Product.Price.ToString("f2")</span>
                                    <span asp-validation-for="OrderQuantity"></span>
                                </div>
                            </div>
                        </div>
                        <p class="actions m-auto">
                            <input type="hidden" asp-for="Product.Id" class=" m-auto" />
                            <button class="btn btn-danger order-button" style="width: 150px;"> Place Order </button>
                        </p>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section scripts{
<partial name="_ValidationScriptsPartial"></partial>
<script type="text/javascript">
    $(function () {
        var price = parseFloat($("#orderPrice").text()).toFixed(2),
            total = $("#orderTotal"),
            orderQty = $("#OrderQuantity");
        orderQty.on('change', function () {
            var quantity = parseInt(orderQty.val());
            if (!quantity || quantity < 1 || quantity > @Model.Product.AvailableQuantity) {
                orderQty.val(1);
                quantity = 1;
            } else if (quantity.toString() !== orderQty.val()) {
                orderQty.val(quantity);
            }
            total.text("$" + (price * quantity).toFixed(2));
        });
    });
</script>
}
