﻿@page
@model Photosharp.Pages.PageNotFoundModel
@{
    ViewData["Title"] = "Page Not Found";
}
<head runat="server">
    <meta http-equiv="Refresh" content="2;url=Index" />
</head>
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-3"></div>
        <div class="col-6 mt-5 mb-5">

            <h2 style="font-family: 'Spartan', sans-serif;"> Page Not Found </h2>
            @{
                <p>
                    <a class="nav-link" asp-area="" asp-page="/Login">You will Redirect to Home Pager</a>
                </p>
            }
        </div>
        <div class="col-3"></div>
    </div>
</div>