﻿@page "{Id:int}"
@using System.Collections;
@using Microsoft.AspNetCore.Identity;
@using PhotoSharp.Models;
@inject SignInManager<User> signInManager;

@model PhotoSharp.Pages.ProductDetailModel
@{
    ViewData["Title"] = "Product Details";
}
<div id="colorlib-page">
    <section>
        <img src="~/images/bg_1.jpg"
            style="display: block; background-size: cover; width: 100%; height: 700px; object-fit: cover;" />
        <div class="container overlay" style="margin-top: -110px;">
            <div class="row no-gutters text align-items-end justify-content-center" data-scrollax-parent="true">
                <div class="col-md-8 ftco-animate text-center">
                    <h1 style="font-family: 'Spartan', sans-serif" class="mb-5 bread">@Model.Product.ProductName</h1>
                </div>
            </div>
        </div>
    </section>

    <!-- ******************************** CAROUSEL *********************************** !-->
    <section>
        <div>
            <div style="height: 700px; background-color: white" class="row justify-content-center">
                <div class="col-md-6 pt-5">
                    <div class="row model-detail d-mf-flex align-items-center">
                        <div class="col-md-6 ftco-animate">
                            <div class="carousel-model owl-carousel">
                                <div class="items">
                                    <img style="height: 500px; width: 500px" src="~/@Model.Product.ProductImage1"
                                        class="img-fluid" alt="Colorlib Template">
                                </div>
                                <div class="items">
                                    <img style="height: 500px; width: 500px" src="~/@Model.Product.ProductImage2"
                                        class="img-fluid" alt="Colorlib Template">
                                </div>
                                <div class="items">
                                    <img style="height: 500px; width: 500px" src="~/@Model.Product.ProductImage3"
                                        class="img-fluid" alt="Colorlib Template">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-1"></div>
                        <div class="col-md-5 model-info ftco-animate">
                            <h5 style="font-family: 'Spartan', sans-serif; color: black; font-weight: bold"
                                class="mb-4">@Model.Product.Price CAD</h5>
                            <hr>
                            <div class="md-form">
                                <textarea style="color: black; resize:none; border: none; outline: none" readonly
                                    class="md-textarea form-control"
                                    rows="9">@Model.Product.ProductDescription</textarea>
                            </div>
                            <p>@if (Model.Product.AvailableQuantity < 1)
                                    {
                                <p class="mt-4"><a class="btn btn-primary py-3 px-4" style="background-color: #708090;">Out of stock</a></p>
                                    }
                                    else
                                    {
                                <p class="mt-4"><a asp-page="/Order" asp-route-id="@Model.Product.Id"
                                    class="btn btn-primary py-3 px-4">Buy this product</a></p>
                                    }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***************************** COMMENT SECTION ****************************** -->

    <div class="pt-5 mt-5 container">
        <h3 style="font-family: 'Spartan', sans-serif;" class="mb-5">Comments for this product:</h3>
        @if (Model.CommentHash.Count == 0)
        {
            <div style="color: #F34573">Write the first comment for this product.</div>
        }
        @foreach (DictionaryEntry item in Model.CommentHash)
        {
            <div><i style="color: white; font-size: 3.5rem" class="fas fa-user-edit mr-4 mb-2"></i><span
                style="color: #F34573;">@item.Value</span></div>
            <div>@item.Key</div>
            <hr style="border: solid; border-color: white; border-width: 1px">
        }

        <!-- ****************************** COMMENT POST **************************** -->

        <div class="comment-form-wrap pt-5">
            <h3 style="font-family: 'Spartan', sans-serif;" class="mb-5">Leave a comment</h3>
            <form method="post" class="comment-form p-5 bg-dark">
                @* <div asp-validation-summary="All" class="text-danger"></div> *@
                <div class="form-group">
                </div>
                <div class="form-group">
                    <input asp-for="Input.CommentBody" id="message" cols="30" rows="10" class="form-control" />
                    <span asp-validation-for="Input.CommentBody" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
                </div>
            </form>
            </h3>
        </div>
    </div>
