﻿@page
@model Photosharp.Pages.RegisterModel
@{
}
<div class="container ">
    <div class="row mt-5 mb-5"></div>
    <div class="row mt-5 mb-5">
        <div class="col-3"></div>
        <div class="col-6 registermt">
            <form method="post">
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label asp-for="Input.FullName">Full Name</label>
                        <input asp-for="Input.FullName" type="text" class="form-control"
                            id="inputAddress2">
                    </div>
                    <div class="form-group col-md-12">
                        <label asp-for="Input.Email">Email</label>
                        <input asp-for="Input.Email" type="email" class="form-control"
                            id="inputEmail4">
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <label asp-for="Input.Password">Password</label>
                        <input asp-for="Input.Password" type="password"
                            class="form-control" >
                        <span asp-validation-for="Input.Password"
                            class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-12">
                        <label asp-for="Input.ConfirmPassword"> Confirm Password</label>
                        <input asp-for="Input.ConfirmPassword" type="password"
                            class="form-control" >
                        <span asp-validation-for="Input.ConfirmPassword"
                            class="text-danger"></span>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label asp-for="Input.Address">Address</label>
                        <input asp-for="Input.Address" type="text" class="form-control"
                            id="inputAddress">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-12">
                        <label asp-for="Input.PostalCode">Postal Code</label>
                        <input asp-for="Input.PostalCode" type="text" class="form-control"
                            id="inputZip">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
        <div class="col-3 "></div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}