﻿@page
@model Photosharp.Pages.RegisterSuccessModel
@{
    ViewData["Title"] = "Register confirmation";
}
<head runat="server">
    <meta http-equiv="Refresh" content="3;url=Login" />
</head>
<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col-3"></div>
        <div class="col-6 mt-5 mb-5">

            <h3 style="font-family: 'Spartan', sans-serif;">@ViewData["Title"]</h1>
            @{
                <p>Registration succeeded with email @Model.Email
                    <a class="nav-link" asp-area="" asp-page="/Login">Click here to log
                        in</a>
                </p>
            }
        </div>
        <div class="col-3"></div>
    </div>
</div>