﻿@page
@model Photosharp.Pages.SearchTestModel
@{
    ViewData["Title"] = "Search";
}
<section class="ftco-section">
    <div class="container">
<form method="post" class="comment-form p-5 bg-dark" style="display: flex;">
    <div class="form-group">
    </div>
    <div class="form-group">
        <input asp-for="Input.Search" id="message" cols="30" rows="10" class="form-control" style="background-color: white; width: 800px"/>
        <div asp-validation-for="Input.Search" class="text-danger"></div>
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn py-3 px-4 btn-primary align-content: right ml-5" style="width: 150px;">
    </div>
</form>
        <div class="row d-flex">
            @foreach (var product in Model.Products)
            {
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry bg-dark align-self-stretch">
                        <a asp-page="/ProductDetail" asp-route-id="@product.Id" class="block-20"
                        style="background-image: url('@product.ProductImage1')">
                        </a>
                        <div class="text p-4 d-block">
                            <h3 class="heading mt-3" style="font-family:'Spartan', sans-serif;"><a asp-page="/ProductDetail"
                                asp-route-id="@product.Id"> @product.ProductName </a></h3>
                            <p> @product.ProductDescription </p>
                            <p>@if (product.AvailableQuantity < 1)
                                {
                                    <button title="Order @product.ProductName" class="btn btn-primary"
                                style="background-color: #708090;" disabled> Out of stock </button>
                                }
                                else
                                {
                                    <a asp-page="/order" asp-route-id="@product.Id" title="Order @product.ProductName"
                                class="btn btn-primary"> Order Now </a>
                                }
                                <a asp-page="/ProductDetail" asp-route-id="@product.Id" class="btn btn-primary"> Read
                                    more</a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>