﻿@page
@model Photosharp.Pages.UserAccountModel
@{
    ViewData["Title"] = "Account";
}
<div class="container ">
    <div class="row mt-5 mb-5">
        <div class="col-6 registermt">
            <h4 style="font-family: 'Spartan', sans-serif;" class="mt-5">Edit your account</h4><br>
            <div style="border-style: solid; border-color: white; border-width: 2px; padding: 20px">
                <form method="post">
                    <div class="form-row text-white">
                        <div class="form-group col-md-12">
                            <label asp-for="Input.FullName">Full Name</label>
                            <input asp-for="Input.FullName" type="text" class="form-control text-white" 
                                id="inputAddress2" value="@Model.CurrUser.FullName">
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="Input.Email">Email</label>
                            <input asp-for="Input.Email" type="email" class="form-control" id="inputEmail4"
                                value="@Model.CurrUser.Email">
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="Input.Password">Password</label>
                            <input asp-for="Input.Password" type="password" class="form-control">
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                            <input asp-for="Input.ConfirmPassword" type="password" class="form-control">
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="Input.Address">Address</label>
                            <input asp-for="Input.Address" type="text" class="form-control" id="inputAddress"
                                value="@Model.CurrUser.Address">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label asp-for="Input.PostalCode">Postal Code</label>
                            <input asp-for="Input.PostalCode" type="text" class="form-control" id="inputZip"
                                value="@Model.CurrUser.PostalCode">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Updae Profile</button>
                </form>
            </div>
        </div>

        @* ********************* ORDER HISTORY ****************** *@

        <div class="col-6 ">
            <h4 style="font-family: 'Spartan', sans-serif;" class="mt-5">Your Orders</h4><br>
            <div style="border-style: solid; border-color: white; border-width: 2px; padding: 20px; background-color: hsla(0, 0%, 100%, 0.2)">
        <div>
            @foreach (var item in Model.OrderList)
            {
                <div><span style="color: black">Item name: </span>@item.Product.ProductName</div>
                <div><span style="color: black">Quantity: </span>@item.Quantity</div>
                <div><span style="color: black">Order Date: </span>@item.OrderDate</div>
                <hr style="border-style: solid; border-color: gray; border-width: 1px"/>
            }
    </div>
        </div>
    </div>
</div>
@section Scripts {
<partial name="_ValidationScriptsPartial" />
}
